*,
*:before,
*:after {
    box-sizing: border-box;
}

 :root {
    --main-txt-color: #3d3d3d;
    --main-green-color: #11ab4f;
}


/* common classNamees style */

.flex-items-aling-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.full-height {
    height: 100%;
    min-height: 223px;
}

.page-container {
    width: 100%;
    max-width: 1336px;
    margin: 0 auto;
    padding: 20px;
}

.drop-arrow {
    display: inline-block;
    position: absolute;
    right: 12px;
    top: 15px;
    width: 8px;
    height: 8px;
    border-color: #5f5f5f transparent transparent transparent;
    border-style: solid;
    border-width: 5px;
}


/* general */

html {
    font-size-adjust: none;
    /* Adjust font size */
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    /* Font varient */
    -webkit-font-variant-ligatures: none;
    font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI';
}

input[type="text"] {
    font-size: 1.2em;
    color: var(--main-txt-color);
}

main {
    display: block;
}


/* header */

header {
    width: 100%;
    min-height: 223px;
    position: relative;
    background-image: url('./images/img-test.png');
    background-position: center center;
}

header h1 {
    font-size: 2.6rem;
    font-weight: 300;
    letter-spacing: 0.94px;
    color: var(--main-txt-color);
    margin-top: 0;
    margin-bottom: 20px;
}

header .bg-white {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
}

header .header-title-search {
    flex: 2;
}

header .header-title-search .search-bar input {
    width: 100%;
    height: 56px;
    border-radius: 2px;
    border-right: 1px solid rgb(207, 207, 207);
    border-top: 1px solid rgb(207, 207, 207);
    border-bottom: 1px solid rgb(207, 207, 207);
    outline: none;
}

header .header-title-search .search-bar {
    display: flex;
    align-items: stretch;
}

header .header-title-search .search-bar span {
    display: flex;
    background-color: #fff;
    padding: 0 14px;
    border-left: 1px solid rgb(207, 207, 207);
    border-top: 1px solid rgb(207, 207, 207);
    border-bottom: 1px solid rgb(207, 207, 207);
    position: relative;
    left: 2px;
}

header .header-title-search .search-bar span img {
    margin: auto;
    height: 18px;
}

.search-bar input::placeholder {
    color: #bfbfbf;
    font-size: 1.1rem;
    letter-spacing: 0.45px;
    position: relative;
    top: 2px;
}

.toggle-en-cn {
    flex: 1;
    text-align: right;
    align-self: center;
}

.toggle-en-cn .switch-field {
    margin-bottom: 36px;
    overflow: hidden;
    width: 101%;
}

.toggle-en-cn .switch-field input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.toggle-en-cn .switch-field {
    display: flex;
}

.toggle-en-cn .switch-field label {
    min-width: 80px;
    background-color: #fff;
    color: var(--main-txt-color);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease-in-out;
}

.toggle-en-cn .form {
    display: inline-block;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked+label {
    background-color: #11ab4f;
    box-shadow: none;
    color: #fff;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
    border: 1px solid var(--main-green-color);
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
    border: 1px solid var(--main-green-color);
}


/* results  text */

.search-results {
    margin-top: 30px;
    color: #5f5f5f;
    font-size: .9rem;
}


/* cards */

main figure {
    border: 1px solid #dddddd;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    margin: 0;
    align-items: center;
    margin-top: 20px;
    padding: 22px;
}

figure .circled-img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    margin: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4)
}

figure .circled-img img {
    height: 110px;
    display: block;
    width: auto;
    margin-right: auto;
}

.name-title {
    color: #9e9e9e;
    font-size: .9em;
    letter-spacing: 0px;
}

figure .details {
    flex: 2;
}

figure .details h2 {
    color: var(--main-txt-color);
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 0.4px;
    margin: 6px 0;
}

figure .details figcaption {
    color: var(--main-txt-color);
    font-size: .9rem;
}

figure .skills {
    padding: 10px 0;
    display: flex;
}

figure .langugages {
    display: flex;
}

figure .skills p,
figure .langugages p {
    font-size: .9rem;
    color: #9e9e9e;
    display: flex;
    margin-right: 30px;
}

figure .skills img,
figure .langugages img {
    padding-right: 10px;
    align-self: end;
    display: inline-block;
}

.langugages img {
    width: 32px;
}

.horizontal-line {
    height: 30px;
    width: 1px;
    background-color: #cfcfcf;
    margin-right: 30px;
}

figure .icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

figure button.waiting-list {
    background-color: transparent;
    border: 1px solid var(--main-green-color);
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--main-green-color);
    margin: 20px;
    padding: 20px 40px;
    cursor: pointer;
    position: relative;
}

figure button.active {
    background-color: var(--main-green-color);
    border: 1px solid var(--main-green-color);
    color: #fff;
}

figure .note-booked {
    content: 'fully booked!';
    text-transform: uppercase;
    font-size: .9rem;
    color: red;
    width: fit-content;
    margin: auto;
    text-align: center;
}


/* filters */

.filters .button-and-dropdown {
    position: relative;
}

.button-and-dropdown {
    display: inline-block;
}

.filters .button-and-dropdown button {
    text-align: left;
    position: relative;
    background-color: transparent;
    border: 1px solid #cfcfcf;
    padding: 10px;
    width: 206px;
    color: rgb(95, 95, 95);
    font-size: 14px;
    letter-spacing: 0.4px;
    margin: 10px;
}


/* filters open*/

.dropdown-opened {
    display: block !important;
    max-height: 330px;
    overflow-y: auto;
}

.filter-dropdown {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 206px;
    margin: 10px;
}

.filter-dropdown button {
    text-align: left;
    position: relative;
    background-color: transparent;
    border: none;
    padding: 10px;
    color: rgb(95, 95, 95);
    font-size: 14px;
    letter-spacing: 0.4px;
    width: 100%;
    margin: 6px 0;
    display: flex;
    align-items: center;
}

.checkbox-button {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #cfcfcf;
    border-radius: 2px;
    margin-right: 12px;
    font-size: .8em;
}

.checkbox-button-checked {
    background-color: #11ab4f;
    border: 2px solid #11ab4f;
}

.checkbox-button img {
    display: inline-block;
    width: 100%;
}

img.will-checked {
    display: none;
}


/* no results display */

.no-results {
    display: none;
}


/* pop ups display */

.info {
    display: none !important;
}

.round {
    display: none !important;
}


/* pop ups */

.pop-up {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
}

.pop-up .pop-container {
    margin: auto;
    padding: 30px;
    max-width: 580px;
    background-color: #fff;
    position: relative;
}

.pop-up .pop-container p {
    margin: 5px 0;
}

.pop-up .pop-container .pop-buttons {
    margin-top: 60px;
    text-align: right;
}

.pop-up .pop-container .pop-buttons button:first-child {
    background-color: transparent;
    padding: 14px 20px;
    margin-right: 10px;
    color: var(--main-txt-color);
    text-transform: uppercase;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.pop-up .pop-container .pop-buttons button.active {
    background-color: var(--main-green-color);
    border: 1px solid var(--main-green-color);
    padding: 14px 30px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
}

.pop-up .pop-container .close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50px;
    height: auto;
    background-color: transparent;
    border: none;
}

.pop-up .pop-container .close img {
    width: 100%;
}

.round .pop-container {
    border-radius: 50%;
    max-width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.round .pop-container p {
    text-align: center;
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 300;
}

.round .pop-container img {
    position: relative;
    left: 6px;
    width: 40%;
    margin-bottom: 10px;
}

.round .pop-container .pop-buttons {
    margin-top: 10px;
}

.round .pop-container .pop-buttons button {
    color: var(--main-green-color) !important;
    cursor: pointer;
}


/* search drop results   */

.search-container {
    position: relative;
}

.list-search-options {
    position: absolute;
    z-index: 1;
    background: #fff;
    width: 100%;
    padding: 32px;
    margin-top: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.list-search-options p {
    padding: .5em;
}

.list-search-options p:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.list-search-options p:first-child {
    margin-top: 0;
}

.list-search-options p:last-child {
    margin-bottom: 0;
}


/* no results page */

.no-results {
    text-align: center;
    margin-top: 30px;
}

.no-results p {
    color: #5f5f5f;
    font-size: 22px;
    font-weight: semilight;
    letter-spacing: 0.55px;
    line-height: 28px;
    text-align: center;
    width: 315px;
    margin: 20px auto;
}


/* mobile */

@media only screen and (max-width: 530px) {
    main figure {
        text-align: center;
        justify-content: center
    }
    .horizontal-line {
        display: none;
    }
}

@media only screen and (max-width: 440px) {
    figure .icons {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    figure .skills p {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    figure .skills img {
        padding-right: 0;
        align-self: center;
    }
    figure button.active,
    figure button.waiting-list {
        font-size: .8rem;
        padding: 10px 15px;
    }
    .flex-items-aling-center {
        flex-direction: column;
        text-align: center;
    }
    header h1 {
        font-size: 2rem;
    }
    .toggle-en-cn .switch-field {
        margin-bottom: 36px;
        margin-top: 20px;
    }
    .pop-up .pop-container .pop-buttons {
        display: flex;
    }
    .list-search-options {
        text-align: left;
    }
    .filters .button-and-dropdown>button {
        width: 100%;
        margin: 0;
        margin-top: 10px;
    }
    .search-results {
        text-align: center;
    }
    header {
        background-size: cover;
    }
    .button-and-dropdown {
        display: block;
        width: 100%;
    }
    .filter-dropdown {
        top: 48px;
        width: 100%;
        margin: 0;
        z-index: 1;
    }
}